<section class="clients-section">
	<a name="clients-section" />
	<h3 id="clients">Clients</h3>
	<div id="carousel-controls">
		<div id="next" class="control next1">{% include icons/next1.html %}</div>
		<div id="prev" class="control prev1">{% include icons/prev1.html %}</div>
	</div>
	<div class="cl-mob-nav">
		{% for client in site.data.settings.clients %}
			<span></span>
		{% endfor %}
	</div>

	<div class="clients-carousel">

    {% for client in site.data.settings.clients %}
		<div class="cl-section">
			<div class="cl-testimonials">
				<h3 class="name">{{ client.name }}</h3>
				<div class="quotes">{{ include icons/blockquotes.html }}</div>
				{{ client.about }}
			</div>
		</div>
	{% endfor %}

	</div>


	<div class="client-logos">
	{% for client in site.data.settings.clients %}
		<div class="cl-logo" style="background-image: url(../assets/img/clients/{{ client.logo }})"></div>
		<!-- <img class="cl-logo" src="../assets/img/clients/{{ client.logo }}" alt="{{ client.logo }}" /> -->
	{% endfor %}
	</div>
</section>