<section class="contact-section">

	<a name="contact-section"></a>

	<h3 id="contact">Contact</h3>
	<div class="social-links">
		<a href="https://twitter.com/StrongConj" class="icon-twitter links"></a>
		<a href="https://www.behance.net/strongconjunctions" class="icon-behance links"></a>
		<a href="https://github.com/strongconjunctions" class="icon-github-alt links"></a>
		<a href="https://www.linkedin.com/pub/denis-vyazmin/98/829/605" class="icon-linkedin links"></a>
	</div>

	<hr class="separator">

	<a href="mailto:strongconjunctions@gmail.com" class="gmail-link">strongconjunctions@gmail.com</a>

</section>