<section class="projects-section projects-wrapper">
	<a name="projects-section" />


	<h3 class="projects-header">Projects</h3>

	<div id="proj-container">
		<div class="control-bars">
			<div class="left_side"><div class="prev" onClick="slide(-1)"><div class="icon-chevron-thin-left"></div></div></div>
			<div class="right_side"><div class="next" onClick="slide(1)"><div class="icon-chevron-thin-right"></div></div></div>
		</div>
		<img src="../assets/img/projects/proj1.jpg" id="img" />
	</div>

</section>